.banner-catalog {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("http://placeimg.com/580/430.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-catalog--child {
  background-image: url("http://placeimg.com/580/430.jpg");
}

.banner-catalog--teens {
  background-image: url("http://placeimg.com/580/430.jpg");
}

.banner-catalog--woman {
  background-image: url("http://placeimg.com/580/430.jpg");
}

.banner-catalog--man {
  background-image: url("http://placeimg.com/580/430.jpg");
}

@media (min-width: 768px) {
  .banner-catalog {
    height: 350px;
  }
}

.banner-catalog__text {
  color: white;
  position: absolute;
  bottom: 0;
  right: 11px;
  padding: 0;
  /* text-decoration: underline; */
  padding-bottom: 1px;
  /* border-bottom: 1px solid white; */
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  background: black;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .banner-catalog__text {
    font-size: 20px;
  }
}

.banner {
  width: 100%;
  height: 150px;
  background-image: url("http://placeimg.com/1150/430.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .banner {
    height: 380px;
  }
}

.banner-sale {
  width: 100%;
  height: 150px;
  background-image: url("http://placeimg.com/580/430/arch");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 768px) {
  .banner-sale {
    height: 300px;
  }
}

.banner-sale__title {
  position: relative;
  padding: 0;
  padding-bottom: 1px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 17px;
  margin: 0;
  font-weight: 700;
}

.banner-sale__text {
  margin: 0;
}

.slogan {
  text-align: center;
  /* font-weight: bold; */
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 0.5px;
}

.button {
  background: transparent;
  border: 1px solid black;
  padding: 6px 15px;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.banner__bottom {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .banner__bottom {
    padding-top: 65px;
    margin-bottom: 60px;
  }
}

.banner__slogan {
  margin-bottom: 10px;
}

.banner__name {
  margin: 0;
  text-align: center;
}

.headertest {
  margin: 0;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 30px;
}

.caps__text {
  line-height: 1.5em;
  position: relative;
}

.caps__text:first-letter {
  float: left;
  font-size: 90px;
  font-size: 4.125rem;
  padding-top: 6px;
  padding-top: 0.375rem;
  padding-right: 10px;
  font-weight: 400;
}

.button--big {
  background: transparent;
  border: 1px solid black;
  padding: 13px 40px;
  text-align: center;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.caps__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

.block-info--grey {
  background: #f8f8f8;
}

@media (min-width: 768px) {
  .block-info {
    text-align: left;
  }
}

.main-banner2 {
  width: 100%;
  position: relative;
  height: 350px;
  background-image: url("http://placeimg.com/1000/430/arch");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .main-banner2 {
    height: 450px;
  }
}

.banner__text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-bottom: 30px;
  text-align: center;
}

.main-banner2__content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products {
  background: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 30px;
}

.product__title {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.sale-list {
  margin-bottom: -40px;
}

.sale__block {
  margin-bottom: 40px;
}

.sale__title {
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.sale__text {
  text-align: left;
}

.subheader {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
}

.margin-block {
  margin-left: -7px !important;
  margin-right: -7px !important;
}

.look {
  margin-bottom: -20px;
}

.look__item {
  margin-bottom: 20px;
}

.collection {
  width: 100%;
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .collection {
    height: 450px;
  }
}

.collection--ren {
  background-image: url("http://placeimg.com/1000/430/arch");
}

.white-block {
  position: absolute;
  width: 300px;
  top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background: white;
  text-align: left;
}

@media (min-width: 768px) {
  .white-block {
    padding: 35px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .white-block {
    width: 450px;
  }
}
/*# sourceMappingURL=banner.css.map */