extends template.pug

block content
  .container
    section.slider-block
      .slider
        .banner
        .banner
        .banner
  section.categories
    .container
      .row.mb-3
        .col-6
          .banner-catalog.banner-catalog--woman
            p.banner-catalog__text Женщины
        .col-6
          .banner-catalog.banner-catalog--man
            p.banner-catalog__text Мужчины
      .row.mb-3
        .col-12
          .banner
      .row.mb-3
        .col-6
          .banner-catalog.banner-catalog--child
            p.banner-catalog__text Дети
        .col-6
          .banner-catalog.banner-catalog--teens
            p.banner-catalog__text Подростки
      .row.mb-3
        .col-12
          .banner
          .banner__bottom
            p.banner__name ренессанс
            p.banner__slogan.slogan строго лимитированно 
            button.button к коллекции
      .row.mb-3
        .col-12
          .banner

  section.products.mb-3
    .container
      h3 Популярные товары
      .row
        .col-6.col-md-3
          .product
            img.product__img(src="http://placehold.it/350x400", alt="")
            p.product__name Название товара
        .col-6.col-md-3.mb-3
          .product
            img.product__img(src="http://placehold.it/350x400", alt="")
            p.product__name Название товара
        .col-6.col-md-3
          .product
            img.product__img(src="http://placehold.it/350x400", alt="")
            p.product__name Название товара
        .col-6.col-md-3
          .product
            img.product__img(src="http://placehold.it/350x400", alt="")
            p.product__name Название товара
  section.sale.mb-3
    .container
      hr.mb-4
      .row
        .col-12.col-sm-6.mb-4
          .banner-sale.banner--man
          p.banner-sale__title Свитшоты от 1 200 р
          p.banner-sale__text Новая коллекция свитшотов ренессанс уже на сайте, осталось мало размеров!
        .col-12.col-sm-6.mb-4
          .banner-sale.banner--man
          p.banner-sale__title Куртки от 1 200 р
          p.banner-sale__text Новая коллекция свитшотов ренессанс уже на сайте, осталось мало размеров!
        .col-12.col-sm-6.mb-4
          .banner-sale.banner.banner--man
          p.banner-sale__title Комбезы от 1 200 р
          p.banner-sale__text Новая коллекция свитшотов ренессанс уже на сайте, осталось мало размеров!
        .col-12.col-sm-6.mb-4
          .banner-sale.banner--man
          p.banner-sale__title Кофты от 1 200 р
          p.banner-sale__text Новая коллекция свитшотов ренессанс уже на сайте, осталось мало размеров!


        